.col-md-1, .col-md-8, .col-md-4, .offset-md-4, .offset-md-3, .offset-md-6, .col-md-9, .col-md-3, .col-md-12{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#0D54A1;
}
body {
	background: #0D54A1;
}

h1, h5 {
	font-family: 'Black Han Sans', sans-serif;
	color: white;
}
td {
	color: #B0D5F4;
}
h2 {
	font-family: 'Black Han Sans', sans-serif;
}
h6 {
	color: white;
}
h3 {
	color: white;	
}

footer {
	background: black;
	color: white;
}

.col-md-4, .col-md-3 {
	background: black;
}